#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 11rem;
  animation: slideToTheLeft 0.3s forwards;
}

#skills h2 {
  margin-bottom: 1.875rem;
}

#skills .skillsGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
}

#skills .icon {
  font-size: 5rem;
  color: var(--main-color);
}

#skills .cardContainer {
  background-color: var(--gray-400);
  border: 1px solid var(--gray-200);
  padding: 2rem;
  transition: all 0.3s;
}

#skills .cardContainer:hover {
  transform: scale(1.1);
}

@media (max-width: 1450px) {
  #skills .skillsGrid {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
}

@media (max-width: 1025px) {
  #skills .skillsGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

@media (max-width: 801px) {
  #skills .skillsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media (max-width: 600px) {
  #skills .skillsGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
}