.footer {
  display: flex;
  width: 99vw;
  height: 3.75rem;
  margin-left: -6rem;
  justify-content: space-around;
  align-items: center;
  background-color: var(--gray-400);
}

.footer .madeBy span {
  color: var(--main-color);
}